@page "/denied"
@model Korepetycje_Matematyka.Pages.Account.AccessDeniedModel
@{
}
<h4 class="bg-danger text-white text-center p-2">Brak dostępu</h4>
<div class="m-2">
    <h6>Brak dostępu</h6>
   <a class="btn btn-outline-danger" href="/">OK</a>
    <a class="btn btn-outline-secondary" asp-page="Logout">Wyloguj</a>
</div>