@page "/logout"
@model Korepetycje_Matematyka.Pages.Account.LogoutModel
@{
}
<div class="bg-primary text-center text-white p-2"><h4>Jesteś wylogowany</h4></div>
<div class="m-2">
    <h6>Jesteś wylogowany</h6>
    <a asp-page="Login" class="btn btn-secondary">OK</a>
</div>