@page "/adduser"
@model Korepetycje_Matematyka.Pages.AddUserModel
@{
}
<div class="row">
  <div class="col-md-3">
     <form method="post">
         <div asp-validation-summary="All"></div>
         <div class="mb-3">
         <label asp-for="NewUser.Login">Login</label>
         <input asp-for="NewUser.Login" class="form-control"/>
         <span asp-validation-for="NewUser.Login"></span>
         </div>
            <div class="mb-3">
         <label asp-for="NewUser.Password">Hasło</label>
         <input asp-for="NewUser.Password" class="form-control"/>
          <span asp-validation-for="NewUser.Password"></span>
         </div>
             <div class="mb-3">
         <label asp-for="NewUser.PhoneNumber">Numer Telefonu</label>
         <input asp-for="NewUser.PhoneNumber" class="form-control"/>
      <span asp-validation-for="NewUser.PhoneNumber"></span>    
     </div>
         <button class="btn btn-success">Dodaj konto</button>
     </form>
  </div>
</div>