@page "/admin"
@model Korepetycje_Matematyka.Pages.AdminPanelModel
@{
}
<a class="btn btn-success" asp-page="Create" >Dodaj użytkownika</a>
<a class="btn btn-success" asp-page="List" >Lista użytkowników</a>
<a class="btn btn-success" asp-page="ADMIN_ListaTerminów" >Ustalenie terminów</a>