@page "/create/{id:int}"
@model Korepetycje_Matematyka.Pages.CreateTerminyModel
@{
}
<h1>Stwórz terminy</h1><hr /><hr />

<div class="row">
  <div class="col-md-3">
     <form method="post">
         <div asp-validation-summary="All"></div>
          <div class="mb-3">
         <label asp-for="Terminy.Dzień_Tygodnia">Termin w poniedziałek </label>
         <input asp-for="Terminy.Dzień_Tygodnia" class="form-control"/>
         <span asp-validation-for="Terminy.Dzień_Tygodnia"></span>
         </div>
         <div class="mb-3">
         <label asp-for="Terminy.Godzina">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina"></span>
         </div>
          <div class="mb-3">
         <label asp-for="Terminy.Godzina1">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina1" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina1"></span>
         </div>
          <div class="mb-3">
         <label asp-for="Terminy.Godzina2">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina2" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina2"></span>
         </div>
          <div class="mb-3">
         <label asp-for="Terminy.Godzina3">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina3" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina3"></span>
         </div>
          <div class="mb-3">
         <label asp-for="Terminy.Godzina4">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina4" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina4"></span>
         </div>
          <div class="mb-3">
         <label asp-for="Terminy.Godzina5">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina5" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina5"></span>
         </div>
            <div class="mb-3">
         <label asp-for="Terminy.Godzina6">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina6" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina6"></span>
         </div>
             <div class="mb-3">
         <label asp-for="Terminy.Godzina7">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina7" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina7"></span>
         </div>
             <div class="mb-3">
         <label asp-for="Terminy.Godzina8">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina8" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina8"></span>
         </div>
             <div class="mb-3">
         <label asp-for="Terminy.Godzina9">Termin w poniedziałek </label>
         <input asp-for="Terminy.Godzina9" class="form-control"/>
         <span asp-validation-for="Terminy.Godzina9"></span>
         </div>

         <button asp-page-handler="edit" class="btn btn-success">Aktualizuj konto</button>
     </form>
  </div>
</div>

