@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Na tej stronie zobaczymy informacje na temat korepetytora. <br />W wersji produkcyjnej widoczne publicznie.</h1>
</div>
<hr /><hr />

     <div class="row">
        <partial name="ViewPhoto" />
        <partial name="ViewAboutMe" />
    </div>

