@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Na tej stronie zobaczymy informacje na temat korepetytora. <br />W wersji produkcyjnej widoczne publicznie.</h1>
</div>
<hr />
 <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <b>Informacje o mnie</b>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>Absolwent wydziału:<br /></b><b>➔ Matematyki i Informatyki na Uniwersytecie Kopernika w Toruniu<br /><br /> </b></h5>  <hr />
                    <p class="card-text">Na codzień zajmuje się udzielaniem korepetycji dla chętnych w zakresie:
                        <br />➔ Egzamin 8 klasisty
                        <br />➔ Egzamin dojrzałości
                    <br />➔ Studia</p>
                   <hr />
                   <p class="card-text">Posiadam 5 letnie doświadczenie w udzielaniu korepetycji w każdym przedziale wiekowym. 
                       <br />Oferuje lekcje stacjonarnie lub zdalnie w zależności od potrzeb.
                       <br />Korepetycje są w cenie 150zł za godzinę, jeśli jesteś zainteresowany to wyslij wiadomość lub zadzwoń.</p>             
                    <a asp-page="help" class="btn btn-success">Numer telefonu</a>
                    <a asp-page="help" class="btn btn-success">Adres e-mail</a>
                </div>
            </div>
        </div>
    </div>
