@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Na tej stronie zobaczymy informacje na temat korepetytora. <br />W wersji produkcyjnej widoczne tylko dla zalogowanych.</h1>
  
</div>
