@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Strona używa tylko podstawowych plików cookies. Nie ma nic dodatkowego. Dbamy o bezpieczeństwo naszych użytkowników.</p>
